<div class="m-2">
    <button type="button" class="btn btn-primary" (click)="redirectTo('client')">Go To Client</button>
</div>
<div class="m-2">
    <button type="button" class="btn btn-primary" (click)="redirectTo('escrow')">Go To Escrow</button>
</div>
<div class="m-2">
    <button type="button" class="btn btn-primary" (click)="redirectTo('developer')">Go To Developer</button>
</div>
<div class="m-2">
    <button type="button" class="btn btn-primary" (click)="redirectTo('token')">Go To Token</button>
</div>

